<div class="user-profile">
    <div class="dropdown user-pro-body">
        <div><img src="..\..\assets\images\faces\female\25.jpeg" alt="user-img" class="img-circle"></div>
        <div class="mb-2">
            <a asp-controller="Account" asp-action="Profile" class="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <span class="font-weight-semibold"> @Context.User.Identity.Name</span>
                    <br>
                    <a class = "btn btn-danger" asp-controller="Account" asp-action="Logout">LogOut</a>
                }
                else
                {
                    <span class="font-weight-semibold"> Please LogIn</span>
                }
            </a>

        </div>
    </div>
</div>