@model Identity101.ViewModels.ResetPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
       <title>Reset Password</title>
</head>
<body>
    <div>
        <h2>@TempData["Message"]</h2>
       <form method="post" asp-controller="Account" asp-action="ConfirmResetPassword">
           <input asp-for="Code" type="hidden" value="@ViewBag.Code" />
           <input asp-for="UserId" type="hidden" value="@ViewBag.UserId" />
           <label asp-for="NewPassword"></label>
           <input asp-for="NewPassword"/>
           <span asp-validation-for="NewPassword"></span><br />
           <label asp-for="ConfirmNewPassword"></label>
           <input asp-for="ConfirmNewPassword"/>
           <span asp-validation-for="ConfirmNewPassword"></span><br />
           <input type ="submit" value ="Güncelle" />

       </form>

    </div>
</body>
</html>