@model Identity101.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang ="tr">
<head>
    <meta charset ="utf-8" />
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge" />
    <meta name ="viewport" content ="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>
<body>
    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName"/>
        <span asp-validation-for="UserName"></span><br>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span><br>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe"/>
        <span asp-validation-for="RememberMe"></span><br>
        <input type = "submit" value = "Giriş" />
    </form>
</body>
</html>
