@model Identity101.ViewModels.UserProfileViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang ="tr">
<head>
    <title>@Model.Name @Model.Surname Profile</title>
</head>
<body>
    <div>
    <form asp-controller="Account" asp-action="Profile">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span><br/>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span><br/>
        <label asp-for="Surname"></label>
        <input asp-for="Surname"/>
        <span asp-validation-for="Surname"></span><br/>
        <input type="submit" value="Güncelle"/>
    </form>
    </div>
    <br />
    <a asp-controller="Account" asp-action="ChangePassword"> Şifre Değiştir</a>
</body>
</html>