@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
       <title>Reset Password</title>
</head>
<body>
    <div>
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <input name = "email" id="email" placeholder="Enter email"/> <br/>
            <input type = "submit" value = "Reset Password"/>
        </form>
    </div>
</body>
</html>
