@using Identity101.Models.Role
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
       <title>Home Page</title>
</head>
<body>
    <div>
        <h1>
            Welcome
        </h1>
        @if (Context.User.Identity!.IsAuthenticated)
        {
            if (Context.User.IsInRole(Roles.Admin))
            {
                <a asp-controller="Admin" asp-action="Index">Admin Panel</a>
            }
            <br/>
            <a asp-controller="Account" asp-action="Logout">Exit</a>
            <a asp-controller="Account" asp-action="Profile">Profile</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">Login</a><br/>
            <a asp-controller="Account" asp-action="ResetPassword">Forgot My Password</a>
            

        }

    </div>
</body>
</html>

